<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
    <title>About Page</title>
</head>

<body>
    <h1>Who is Stephen King?</h1>
    <p>Described as "King of Horror", Stephen Edwin King is an american author of horror, supernatural fiction, suspense, crime, science-fiction and fantasy novels. His books have sold more than 350 million copies, and many have been adapted into films, television series, miniseries, and comic books.</p>
    <h3>Awards</h3>
    <p>King has received Bram Stoker Awards, World Fantasy Awards, and British Fantasy Society Awards. In 2003, the National Book Foundation awarded him the Medal for Distinguished Contribution to American Letters. He has also received awards for his contribution to literature for his entire bibliography, such as the 2004 World Fantasy Award for Life Achievement and the 2007 Grand Master Award from the Mystery Writers of America. In 2015, he was awarded with a National Medal of Arts from the U.S. National Endowment for the Arts for his contributions to literature.</p>
    <img src="../public/images/stephen-king.webp" alt="stephen king">
</body>

</html>