<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
    <title>Books Page</title>
</head>

<body>
    <h2>Bibliography By Date</h2>
    <p> 1. Carrie (1974)
        2. ‘Salem’s Lot (1975)	
        3. The Shining (1977)
        4. Rage (1977)	
        5. The Stand (1978)	
        6. The Long Walk (1979)
        7. The Dead Zone (1979)	
        8. Firestarter (1980)	
        9. Roadwork (1981)
        10. Cujo (1981)	
        11. The Running Man (1982)	
        12. The Dark Tower: The Gunslinger (1982)
        13. Christine (1983)	
        14. Pet Sematary (1983)	
        15. Cycle of the Werewolf (1983)
        16. The Talisman (1984)	
        17. Thinner (1984)	
        18. It (1986)
        19. The Eyes of the Dragon (1987)	
        20. The Dark Tower II: The Drawing of the Three (1987)	
        21. Misery (1987)
        22. The Tommyknockers (1987)	
        23. The Dark Half (1989)	
        24. The Dark Tower III: The Waste Lands (1991)
        25. Needful Things (1991)	
        26. Gerald’s Game (1992)	
        27. Dolores Claiborne (1992)
        28. Insomnia (1994)	
        29. Rose Madder (1995)	
        30. The Green Mile (1996)
        31. Desperation (1996)	
        32. The Regulators (1996)	
        33. The Dark Tower IV: Wizard and Glass (1997)
        34. Bag of Bones (1998)	
        35. The Girl Who Loved Tom Gordon (1999)	
        36. Dreamcatcher (2001)
        37. Black House (2001)	
        38. From a Buick 8 (2002)	
        39. The Dark Tower V: Wolves of the Calla (2003)
        40. The Dark Tower VI: Song of Susannah (2004)	
        41. The Dark Tower VII: The Dark Tower (2004)	
        42. The Colorado Kid (2005)
        43. Cell (2006)	
        44. Lisey’s Story (2006)	
        45. Blaze (2007)
        46. Duma Key (2008)	
        47. Under the Dome (2009)	
        48. 11/22/63 (2011)
        49. The Dark Tower: The Wind Through the Keyhole (2012)	
        50. Joyland (2013)	
        51. Doctor Sleep (2013)
        52. Mr. Mercedes (2014)	
        53. Revival (2014)	
        54. Finders Keepers (2015)
        55. End of Watch (2016)	
        56. Gwendy’s Button Box (2017)	
        57. Sleeping Beauties (2017)
        58. The Outsider (2018)	
        59. Elevation (2018)	
        60. The Institute (2019)</p>
    <h2>Movies</h2>
    <p>1. Carrie (1976)
2. The Shining (1980)
3. Creepshow (1982)
4. Christine (1983)
5. Cujo (1983)
6. The Dead Zone (1983)
7. Children of the Corn (1984)
8. Silver Bullet (1985)
9. Cat's Eye (1985)
10. Stand By Me (1986)
11. Maximum Overdrive (1986)
12. Creepshow 2 (1987)
13. The Running Man (1987)
14. Pet Sematary (1989)
15. Tales from the Darkside: The Movie (1990). 
16. Graveyard Shift (1990)
17. Misery (1990)
18. Sleepwalkers (1992)
19. The Dark Half (1993)
20. Needful Things (1993)
21. The Shawshank Redemption (1994)
22. The Mangler (1995)
23. Dolores Claiborne (1995)
24. Thinner (1996)
25. The Night Flier (1997)
26. Apt Pupil (1998)
27. The Green Mile (1999)
28. Hearts in Atlantis (2001)
29. Dreamcatcher (2003)
30. Secret Window (2004)
31. Riding the Bullet (2004)
32. 1408 (2007)
33. The Mist (2007)
34. Dolan's Cadillac (2009)
35. Mercy (2012)
36. A Good Marriage (2014)
37. Cell (2016)
38. The Dark Tower (2017)
39. My Pretty Pony (2017)
40. IT - Part 1: The Losers' Club (2017)
41. 1922 (2017)
42. Gerald's Game (2017)
43. In the Tall Grass (2019)
44. Pet Sematary (2019)
45. IT: Chapter Two (2019)
46. Doctor Sleep (2019)
47. Mr. Harrigan's Phone (2022)
48. Firestarter (2022)
49. Salem's Lot (2023)</p>
</body>

</html>